.avatar {
	display: inline-block;
	width: 150px;
	height: 150px;
	border-radius: 100%;
	margin-bottom: 20px;
}

.center-wrapper {
    text-align: center;
}

.social-wrapper {
    margin-bottom: 10px;
}

.social-link {
    padding: 3px;
}

.about-avatar {
	max-width: 100%; 
	display:block; 
	height: auto;
	border-radius: 15%;
}